.flex {
    width: 40%;
    height: 250px;
    background-color: blue;
    color: aliceblue;
    display: flex;
    gap: 10px;
    justify-content:space-around;
}

.box {
    width: 20%;
    height: 50px;
    background-color: black;
}