* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(9, 45, 188);
    color: white;
    padding-left: 40px;
    padding-right: 30px;
    height: 70px;
    padding-top: 10px;
}

.name {
    font-size: 10px;
    padding-top: 10px;
}

.nav {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 10px;
}

.aboutcontainer {
    display: flex;
    gap: 140px;
    padding-left: 70px;
    padding-top: 50px;
}

.img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 50px;
}
.footer {
    background-color: blue;
    margin-top: 150px;
    height: 200px;
}